<h3><%=@artist.name%></h3>

<%@artist.songs.each do |s|%>
    <h5><%= s.name%></h5>
<%end%>

<%@artist.genres.each do |g|%>
    <h5><%= g.name%></h5>
<%end%>

<%@artist.songs.each do |s|%>
    <a href="/songs/<%=s.slug%>"</a>
    <%end%>

    <%@artist.genres.each do |g|%>
    <a href="/genres/<%=g.slug%>"</a>
    <%end%>
